body
{
    background-image: linear-gradient(to right, #E22865, #37ADCD);
    color: white;
    font-family: 'Fredoka One', cursive;
}
.header-container
{
    width: 95%;
    margin: auto;
}
.home-item
{
    transition: all 1s ;
    border: solid 1px gray;
}
.home-item:hover
{
    cursor: pointer;
    box-shadow: 0 0 20px #e22865;
    border: 1px solid #E22865;
}